
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: monospace;
  background-color: #333;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 75%;
  width: 75%;
  gap: 2rem;
  
}

.todos-container {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  gap: 12px;
}

.todo-container, .completed-container {
  background-color:whitesmoke;
  flex-grow: 1;
  padding: 1rem;
  border-radius: 1rem;
  
}